.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: relative;
  background: #b0c4ab;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  padding: 10px 10px 15px;
  pointer-events: auto;
}

audio {
    width: 200px;
    height: 15px;
}

h1 {
  font-family: 'Cinzel', serif;
}
h2 {
  font-family: 'Cinzel', serif;
}
h3 {
  font-family: 'Cinzel', serif;
}
p {
  font-family: 'Cinzel', serif;
}
